AISSTREAM_API_KEY=your_aisstream_key_here
AISSTREAM_WS=wss://stream.aisstream.io/v0/stream

CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174

AIS_BBOX_SW=-10.0,-10.0
AIS_BBOX_NE=46.0,100.0

CDSE_USER=
CDSE_PASSWORD=
GFW_API_TOKEN=